#pelota{
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius:25px;
    margin:0%;
    position: absolute;
    top:460px;
    left:145px;
}

#nave{
    background-color: rgb(3, 3, 3);
    width: 100px;
    height: 10px;
    position: absolute;
    top: 470px;
    left: 100px;
    border-radius:25px;

}


#bloqueA{
	height: 15px;
	width: 30px;
	top:50px;
	left: 10px;
	position: absolute;
	background-color: red;
}

#bloqueB{
	height: 15px;
	width: 30px;
	top:50px;
	left: 130px;
	position: relative;
	background-color: yellow;
}

#puntuacion{
    position: relative;
    left: 50px;
}

#bloqueC{
	height: 15px;
	width: 30px;
	top:50px;
	left: 260px;
	position: absolute;
	background-color: green;
}

#msgGameOver{
	position: relative;
	top: 150px;
	left: 25px;
	font-size: 2em;
	display: none;
}
#msgPausa{
	position: relative;
	top: 150px;
	left: 25px;
	font-size: 2em;
	display: none;
}

#msgGanaste{
	position: relative;
	top: 150px;
	left: 25px;
	font-size: 2em;
	display: none;
}

#txtSelTeclado{
	position:absolute;
	top: 500px;
	left: 40px
}    

#selTeclado{
	background-color: red;
	border-radius:25px;
	position: relative;
	top: -30px;
	left: 90px;
	height: 10px;
	width: 10px;
}


#txtSelRaton{
	position:absolute;
	top: 500px;
	left: 180px
}    

#selRaton{
	background-color: pink;
	border-radius:25px;
	position: relative;
	top: -30px;
	left: -20px;
	height: 10px;
	width: 10px;
}

#canvas { 
	height: 500px;
	width: 300px;
	left:0;
	top: 0;
	position: absolute;
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;
	-webkit-animation: rainbow 18s ease infinite;
	-z-animation: rainbow 18s ease infinite;
	-o-animation: rainbow 18s ease infinite;
	animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
0%{background-position:0% 82%}
50%{background-position:100% 19%}
100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
0%{background-position:0% 82%}
50%{background-position:100% 19%}
100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
0%{background-position:0% 82%}
50%{background-position:100% 19%}
100%{background-position:0% 82%}
}
@keyframes rainbow { 
0%{background-position:0% 82%}
50%{background-position:100% 19%}
100%{background-position:0% 82%}
}